@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* Dark theme uchun global sozlamalar */
html,
body {
  background-color: #192232 !important;
}



/* Scrollbarni yashirish uchun */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE va Edge uchun */
  scrollbar-width: none;
  /* Firefox uchun */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Dark Theme for React Calendar */
.custom-calendar {
  background-color: #1f2937;
  color: #fff;
  border-radius: 12px;
  border: none;
  padding: 10px;
}

.custom-calendar .react-calendar__tile {
  background: transparent;
  color: #d1d5db;
  border-radius: 8px;
}

.custom-calendar .react-calendar__tile--active {
  background: #3b82f6 !important;
  color: #fff !important;
}

.custom-calendar .react-calendar__navigation button {
  color: #fff;
}

.custom-calendar .react-calendar__tile:hover {
  background: #374151;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/* Floating animation (doimiy tebranish) */
@keyframes floating {
  0% {
    transform: translateY(0px) rotateY(0deg) rotateX(0deg);
  }

  50% {
    transform: translateY(-8px) rotateY(3deg) rotateX(2deg);
  }

  100% {
    transform: translateY(0px) rotateY(0deg) rotateX(0deg);
  }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

/* 3D hover effekt */
.perspective-1000 {
  perspective: 1000px;
}